													   /** ACÁ LOS ESTILOS DE LA SECCCION BANNER **/
.banner{
	background-image: url(../img/dance_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 60vh;
}

.llamado {
	margin-top: 12%;
	color: #fff;
}

.llamado h1 {
	font-size: 3em;
	padding: 
}
.llamado a {
	text-decoration: none;
    color: #fff;
    padding: 5% 19%;
    background-color: #091226;
    border-radius: 3%;
}

.banner p{
	padding:5% 0 13% 0;
}
													/** ACÁ LOS ESTILOS DE LA SECCCION JULIART **/
.juliart {
	background-image: url(../img/textura_2.jpg);
	background-repeat: repeat;
	padding: 5%;
}

.juliart p{
	font-size: 1.2em;
}

.juliart img {
	margin: -2% 0 2% 0;
    width: 10%;
}

.juliart a{
	padding: 2% 8%;
    background-color: #192951;
    color: #fff;
    border-radius: 2%;
    text-decoration: none;
}
													/** ACÁ LOS ESTILOS DE LA SECCCION INSTRUCTORES **/
.instructores {
	position: relative;
}

.profe1 {
	background-image: url(../img/instructor_4.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	height: 50vh;
	border: 1px solid #1d3775;
}

 .profe2 {
	background-image: url(../img/profesor_9.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	height: 50vh;
	border: 1px solid #1d3775;
}

.docentes {
	margin-top: -5% ;
}

.docentes p{
	background-color: #1d3775;
	color: #fff;
	padding: 5.9%;
}
													/** ACÁ LOS ESTILOS DE LA SECCCION DANZA **/
.danza {
	background-image: url(../img/textura_2.jpg);
	height: 40vh;
}

.danza p{
	font-size: 2em;
	text-align: center;
	padding: 13% 0;
}
														/** ACÁ LOS ESTILOS DE LA SECCCION UBICACION **/
.ubicacion {
	background-color: #1d3775;
	color: #fff;
	padding-top: 7%;
	height: 50vh;
}

.ubicacion p{
	font-size: 0.8em;
}

.direccion p{
	padding-bottom: 4%;
}

.fono {
	color: #688de2;
}

.mapa {
	margin: 2%;
}