*{
	margin: 0;
	padding: 0;
}

							/** ACÁ LOS ESTILOS DEL HEADER MENU **/
nav{
	margin: 2%;
}

header li{
	list-style: none;
	display: inline-block;
}

header a{
	text-decoration: none;
	color: gray;
	margin: 30%;
}
													/** ACÁ LOS ESTILOS DE LA SECCCION BANNER **/
.banner{
	background-image: url(../img/dance_7.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: none;
	height: 50vh;
}

.texto-banner {
	color: #fff;
    padding: 3% 5%;
    margin-top: 7%;
    background-color: rgba(51,51,51,0.7);
}

.banner p{
	font-size: 0.8em;
	padding-top: 2%;
}
													/** ACÁ LOS ESTILOS DE LA SECCCION PILAR**/
.pilar {
	background-image: url(../img/cubes.png);
	background-repeat: repeat;
	height: 30vh;
	padding-top: 5%;
	color: gray;
}

.pilar hr {
	margin: 5%;
}
						/** ACÁ LOS ESTILOS DE LA SECCCION INSTRUCTORES **/
.instructores {
	padding: 5%;
}

.instructores h1{
	padding: 5% 0;
}

.instructores img {
	margin: 2%;
	width: 90%;

}

.instructores h3, .instructores p{
	padding: 2%;
}

.instructores h3{
	text-align: left;
}
							/** ACÁ LOS ESTILOS DE LA SECCCION DANZA **/
.danza {
	background-image: url(../img/cubes.png);
	height: 40vh;
}

.danza p{
	font-size: 2em;
	text-align: center;
	padding: 13% 0;
}
							/** ACÁ LOS ESTILOS DE LA SECCION CONTACTO**/
.contactenos{
	background:url(../img/shoes_1.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right; 
	height: 50vh;
}

.form{
	margin: 5% 0;
	width: 100%;
	
}

.form h1{
	font-size: 2em;
	color: #192951;
}

textarea, input{
	width: 400px;
	margin-top: 5%;
}

input{
	padding: 1% 0;
}

textarea{
	padding: 5% 0;
}

#btn-enviar {
	background-color: #1d3775;
	padding: 10px 0%;
	margin-top: 3%;
	color: #fff;
	border: none;
	border-radius: 2%;
}
									/** ACÁ LOS ESTILOS DEL FOOTER **/
footer{
	margin-top: 2%;
	background-color: #1d3775;
	color: #fff;
	padding: 1% 2%;
	

}
