
													/** ACÁ LOS ESTILOS DE LA SECCCION BANNER **/
.banner{
	background-image: url(../img/dance_7.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: none;
	height: 50vh;
}

.texto-banner {
	color: #fff;
    padding: 3% 5%;
    margin-top: 7%;
    background-color: rgba(51,51,51,0.7);
}

.banner p{
	font-size: 0.8em;
	padding-top: 2%;
}
													/** ACÁ LOS ESTILOS DE LA SECCCION PILAR**/
.pilar {
	background-image: url(../img/cubes.png);
	background-repeat: repeat;
	height: 30vh;
	padding-top: 5%;
	color: gray;
	text-align: center;
}

.pilar hr {
	margin: 5%;
}
						/** ACÁ LOS ESTILOS DE LA SECCCION INSTRUCTORES **/

.instructores {
	margin-bottom: 6%;
}

.instructores h1{
	padding: 5% 0;
	text-align: center;
}

.instructores img {
	margin: 2%;
	width: 90%;
	height: 30vh;

}

.instructores h3, .instructores p{
	padding: 2%;
}

.instructores h3{
	text-align: left;
}

.profes {
	margin-top: 5%;
}
							/** ACÁ LOS ESTILOS DE LA SECCCION DANZA **/
.danza {
	background-image: url(../img/cubes.png);
	height: 40vh;
}

.danza p{
	font-size: 2em;
	text-align: center;
	padding: 13% 0;

}
